<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="card" id="about-viewList" th:fragment="aboutListCard">
        <h3 class="card-title">About</h3>
        <div class="card-content" id="about-show">
            <table class="actuality-item-conf">
                <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Redirection
                    </td>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="currentCongress" type="com.entity.Congress"*/-->
                <tr th:each="about : ${currentCongress.abouts}">
                    <!--/*@thymesVar id="about" type="com.congress.entity.About"*/-->
                    <td th:text="${about.id}"></td>
                    <td th:text="${about.title}"></td>
                    <a th:href="@{'/congress/' +${currentCongress.id} + '/about/' + ${about.id}}">See
                        description</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</html>