<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card" id="socialLink-viewList" th:fragment="socialLinkListCard">
    <h3 class="card-title">Social Links</h3>
    <div class="card-content" id="socialLink-show">
        <table class="actuality-item-conf" >
            <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Title
                </td>
                <td>
                    Link
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="social : ${currentCongress.socialLinks}">
                <td th:text="${social.id}"></td>
                <td th:text="${social.name}"></td>
                <td> <a th:href="@{'/congress/' + ${currentCongress.id}+'/socialLink/' + ${social.id}}"> Go to social link</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>