<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="card" id="socialLink-viewCard" th:fragment="socialLinkViewCard">
    <h3 class="card-title">Social Link</h3>
    <div class="card-content" id="socialLink-view-show">
        <h3 th:text="${currentSocialLink.name}"></h3>
        <img th:src="@{${currentSocialLink.logoUrl}}"/>
        <!--/*@thymesVar id="currentSocialLink" type="com.congress.entity.SocialLink"*/-->
        <a th:text="${currentSocialLink.url}" th:href="${currentSocialLink.url}"></a>
        <a th:href="@{'/congress/' + ${currentCongress.id}}">go to congress</a>
       </div>
</div>
</html>