<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="card" id="congress-viewList" th:fragment="socialLinkViewCard">
    <h3 class="card-title">Social Link</h3>
    <div class="card-content" id="congress-show">
        <img alt="" id="congress-show-logo" src="#" th:src="${currentSocialLink.logo_url}">
        <ul>
            <li th:each="socialLink : ${congress.socialLink}">
                <a th:href="@{${socialLink.url}}" th:text="${socialLink.logo}">Go to Social Link</a>
            </li>
        </ul>
    </div>
</div>
</html>