<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/main/head.html :: head"></head>
<body>
<nav th:replace="/fragments/components/navbar.html :: navbar"></nav>
<main id="sponsorts-view-container">
    <div th:replace="/fragments/components/sponsorts/sponsortsViewCard.html :: sponsortsViewCard"></div>
    <div th:replace="/fragments/components/sponsorts/sponsortsLinkFormCard.html :: sponsortsLinkFormCard"></div>
    <div th:replace="/fragments/components/sponsorts/sponsortsLinkedListCard.html :: sponsortsLinkedListCard"></div>
</main>
</body>
</html>