<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/main/head.html :: head"></head>
<body>
<nav th:replace="/fragments/components/navbar.html :: navbar"></nav>
<main id="sponsor-view-container">
    <div th:replace="/fragments/components/speaker/speakerViewCard.html :: speakerViewCard"></div>
    <div th:replace="/fragments/components/speaker/speakerLinkFormCard.html :: speakerLinkFormCard"></div>
    <div th:replace="/fragments/components/speaker/speakerLinkedListCard.html :: speakerLinkedListCard"></div>
    <div th:replace="/fragments/components/speaker/speakerFormCard.html :: speakerFormCard"></div>

</main>
</body>
</html>