<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="congress" type="com.congress.entity.Congress"*/-->
<!--/*@thymesVar id="congressList" type="java.util.List<>"*/-->
<div class="card" id="congress-viewList" th:fragment="sponsorsListCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="congress-show">
        <ul>
            <li th:each="sponsors : ${sponsorsList}">
                <ul style="display:flex;">
                    <li th:text="${sponsors.name}"></li>
                    <li img alt="" id="congress-show-logo" src="#" th:src="${currentSponsors.logo_url}"></li>
                    <li th:text="${sponsors.address}"></li>
                    <li th:text="${sponsors.city}"></li>
                    <li th:text="${sponsors.contact}"></li>
                    <li th:text="${sponsors.phone}"></li>
                    <li th:text="${sponsors.mail}"></li>
                    <li th:text="${sponsors.website_url}"></li>
                    <span id="congress-show-location" th:text="${currentSponsors.location}"></span>
                    <li><a th:href="@{'/congress/' + ${congress.id}}">Go to congress</a></li>
                </ul>
        </ul>

        </li>
        </ul>
    </div>
</div>
</html