<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentCongress" type="com.congress.entity.Congress"*/-->
<div class="card" id="congress-view" th:fragment="sponsortsViewCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="congress-show">
       <div th:text="${currentSponsorts.name}"></div>
        <div id="congress-show-update">
            <a th:href="@{'/sponsorts/' + ${currentSponsorts.id} + '/edit'}">Modifier</a>
            <a href="#" th:onclick="|deleteUrl('/sponsorts/${currentSponsorts.id}')|">Supprimer</a>
        </div>
    </div>
</div>
</html>