<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentCongress" type="com.congress.entity.Congress"*/-->
<div class="card" id="congress-view" th:fragment="congressViewCard">
    <h3 class="card-title">Congress</h3>
    <div class="card-content" id="congress-show">
        <img alt="" id="congress-show-logo" src="#" th:src="${currentCongress.logo_url}">
        <h4 id="congress-show-title" th:text="${currentCongress.name}"></h4>
        <p id="congress-show-desc" th:text="${currentCongress.description}"></p>
        <img alt="" id="congress-show-banner" src="#" th:src="${currentCongress.banner_url}">
        <span id="congress-show-date" th:text="${#dates.format(currentCongress.date, 'dd-MMM-yyyy')}"></span>
        <span id="congress-show-location" th:text="${currentCongress.location}"></span>
        <div id="congress-show-network">
            <ul>
                <li th:each="social : ${currentCongress.socialLinks}">
                    <a th:href="@{'/congress/' + ${currentCongress.id} + '/socialLink/' + ${social.id}}">
                        <img th:src="${social.logoUrl}">
                    </a>
                </li>
            </ul>
            <a th:href="@{'/congress/' + ${currentCongress.id} + '/socialLink'}" >Go to socialLink list</a>
        </div>

        <div id="congress-show-update">
            <a th:href="@{'/congress/' + ${currentCongress.id} + '/edit'}">Modifier</a>
            <a href="#" th:href="@{'/congress/' + ${currentCongress.id} + '/delete'}">Supprimer</a>
        </div>

    </div>
</div>
</html>