<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sponsor" type="com.congress.entity.Sponsor"*/-->
<!--/*@thymesVar id="sponsorList" type="java.util.List<>"*/-->
<div class="card" id="hotel-viewList" th:fragment="hotelListCard">
    <h3 class="card-title">Hotels</h3>
    <div class="card-content" id="hotel-show">
        <table class="actuality-item-conf">
            <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Name
                </td>
                <td>
                    City
                </td>
                <td>
                    Link
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel: ${hotelList}">
                <td th:text="${hotel.id}"></td>
                <td th:text="${hotel.name}"></td>
                <td th:text="${hotel.url}"></td>
                <td><a th:href="@{'/hotel/' + ${hotel.id}}">See sponsor</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>