<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/main/head :: head">...</head>
<body>
<nav th:replace="fragments/components/navbar.html :: navbar"></nav>
<main id="home">
    <div th:replace="fragments/components/app/actualityCard.html :: actualityCard"></div>
    <div th:replace="fragments/components/app/addCongressCard.html :: addCongressCard"></div>
    <div th:replace="fragments/components/app/calendarCard.html :: calendarCard"></div>
</main>
</body>
</html>