        html,
        body {
            height: 100%;
            list-style: none;
        }

        * {
            list-style: none;
        }

        body {
            display: grid;
            grid-template: "navlist main"50px "navlist main"1fr "navlist main"30px;
            grid-template-columns: auto 1fr;
            margin: 0;
        }

        .actuality-item img {
            height: 150px;
            width: 100%;
        }
        a{
            text-decoration:none;
            color:black;
        }

        main {
            display: grid;
            grid-area: main;
            background-color: #f1f2f6;
            grid-gap: 1rem;
            padding: 1rem;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-auto-flow: column;
        }
        #home{
                    grid-template: "actuality actuality congress""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar""actuality actuality calendar";
        }
        #actuality .card-content {
            display: flex;
            align-items: flex-start;
            width: 100%;
            flex-direction: row;
            height: calc(100% - 3.5rem);
            justify-content: space-evenly;
        }

        nav {
            display: block;
            height: 100%;
            background-color: white;
            grid-area: navlist;
            background-color: #ffff;
        }

        .navlist {
            margin-top: 4rem;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            min-width: 9rem;
            padding: 0;
        }

        .nav-item {
        }
        .nav-item a{
            width:100%;
            height:100%;
            display:block;
                        padding: 1rem 0.5rem;

        }
        .nav-item.selected {
            background-color: #59ca88;
        }

        .nav-item:hover {
            background-color: #59ca88;
        }

        #add-congress {
            grid-area: congress;
        }

        #calendar {
            grid-area: calendar;
        }

        #calendar .card-content {
            width: 100%;
            align-items: flex-start;
        }

        #actuality {
            grid-area: actuality;
            background-color: white;
            min-height: 0;
            /* NEW */
            min-width: 0;
        }

        .card {
            border: 3px solid #59ca88;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: white;
        }

        .card-title {
            margin: 0;
            background-color: #f9f8f9;
            width: 100%;
            padding: 1rem 0;
            text-align: center;
        }

        .card-content {
            width: 90%;
            align-content: center;
            align-items: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #add-congress form {
            display: grid;
            justify-content: space-between;
            grid-template: "congress-input congress-input congress-input""bt-select . bt-create";
            grid-gap: 1rem;
            width: 100%;
            margin: 10px;
        }

        #congress-input {
            grid-area: congress-input;
            height: 3rem;
        }

        #bt-create {
            grid-area: bt-create;
            width: min-content;
        }

        #bt-select {
            grid-area: bt-select;
            width: min-content;
        }

        #nav-logo {
            max-width: 175px;
        }

        .card-bt {
            text-decoration: none;
            display: block;
            background: #f1f2f6;
            color: black;
            border: 3px solid #59ca88;
            border-radius: 10%;
            padding: 0.5rem 0.3rem;
            width: max-content;
        }

        .card-bt:hover {
            border: 3px solid #f1f2f6;
            background: #59ca88;
        }

        .card-bta {
            display: block;
            background: #59ca88;
            color: black;
            border: 3px solid #f1f2f6;
            border-radius: 10%;
            padding: 0.5rem 0.3rem;
            width: max-content;
        }

        .card-bta:hover {
            border: 3px solid #59ca88;
            background: #f1f2f6;
        }

        .month {
            padding: 70px 0;
            width: 100%;
            background: #1abc9c;
            text-align: center;
        }

        .month ul {
            margin: 0;
            padding: 0;
        }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .month .prev {
            float: left;
            padding-top: 10px;
        }

        .month .next {
            float: right;
            padding-top: 10px;
        }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #ddd;
            width: 100%;
        }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #666;
            text-align: center;
        }

        .days {
            padding: 10px 0;
            background: #eee;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .days li {
            list-style-type: none;
            display: inline-block;
            width: 13.6%;
            text-align: center;
            margin-bottom: calc(100%/7);
            font-size: 12px;
            color: #777;
            font-size: 1rem;
        }

        .days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }

        .actuality-list {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            flex-direction: row;
        }

        .actuality-list hr {
            margin: 5px;
        }

        .actuality-item-conf {
            width: 100%;
            border-collapse: collapse;
            margin: 0.5rem 0;
        }

        .actuality-item-conf caption {
            background-color: #59ca88;
            border-bottom: none;
            padding: 0.8rem;
        }

        .actuality-item-conf th,
        .actuality-item-conf td {
            border: 3px solid #59ca88;
            padding: 0.5rem;

        }

        .actuality-item {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .actuality-item-title {
            margin: 0.8rem;
        }

        .closedarea {
            margin: 10px 0px;
            overflow-y: auto;
            max-height: inherit;
        }

        .actuality-item-banner {
            width: 100%;
        }

        .actuality-item-info {
            display: flex;
            justify-content: space-between;
        }

        .actuality-item-content {
            height: calc(100% - 150px - 4rem);
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #dataform {
            grid-area: dataform;
        }

        #main-congress-form {
            grid-template: ". dataform dataform .";
        }

        #main-congress-form form {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        #main-congress-form input {
            padding: 7px;
        }

        #congress-view-container {
            grid-template: "congressview congressview"
                           "about-viewList socialLink-data"
                           "about-viewList socialLink-data"
                           "about-viewList socialLink-data"
                           "about-viewList socialLink-data"
        }

        #congress-viewList-container {
            grid-template: "congressviewlist"
        }

        #congress-viewList {
            grid-area: congressviewlist;
            background-color: white;
        }

        #congress-view {
            grid-area: congressview;
            background-color: white;
        }



        #congress-data {
            grid-area: congress-data;
            background-color: white
        }

        .navlist hr {
            width: 90%;
            height: 2px;
            background-color: #59ca88;
        }

        #congress-show{
            width:100%;
            display:grid;
            height: auto;
            flex: 1;
            grid-template:"logo title . . date banner"
                          "desc desc desc . . location"
                          "desc desc desc . . network"
                          "desc desc desc . . update";
            align-content: normal;
                align-items: flex-start;
            grid-template-columns: 10% auto 35% auto max-content 30%;
            justify-content: stretch;
            grid-template-rows: min-content min-content min-content auto min-content;
        }

        #congress-show-logo{
            width:100%;
            grid-area:logo;
        }
        #congress-show-banner{
            width: 100%;
            grid-area:banner;
        }
        #congress-show-title{
            grid-area:title;
        }
        #congress-show-date{
            grid-area:date;
        }
        #congress-show-location{
            grid-area:location;
        }
        #congress-show-network{
            display: flex;
            flex-direction: column;
            grid-area:network;
        }
        #congress-show-network ul{
                    display:flex;
        }
        #congress-show-network a{
            text-align:center;
        }
        #congress-show-network li{
            width: 30%;
            height: auto;
        }
        #congress-show-network img{
            width: 100%;
        }
        #congress-show-update{
        align-self: center;
            display: flex;
            justify-content: space-around;
            grid-area:update;
        }

        #congress-show-desc {
        align-self: center;
            grid-area: desc;
        }

        hr {
            border: none;
        }

        .nav-item.active {
            background-color: #59ca88;
        }

        #sponsor-view-container {
            grid-template-areas: "sponsor-view  sponsor-form-card sponsor-linked-list"
                                 "sponsor-view sponsor-form-card sponsor-linked-list"
                                 "sponsor-link-form sponsor-form-card sponsor-linked-list";
        }
        #sponsor-form-card{
            grid-area:sponsor-form-card;
        }
        #sponsor-link-form {
            grid-area: sponsor-link-form;
        }

        #sponsor-view {
            grid-area: sponsor-view;
        }

        #sponsor-linked-list {
            grid-area: sponsor-linked-list;
        }

        #about-viewList-container {
            grid-template-areas: "about-viewList about-viewList about-form" "about-viewList about-viewList ." "about-viewList about-viewList .";
        }

        #about-viewList {
            grid-area: about-viewList;
        }

        #about-form {
            grid-area:about-form;
        }
        #about-form form{
            display:flex;
            flex-direction: column;
        }
        #about-show{
            width: 100%;
            justify-content: flex-start;
        }

        #sponsor-viewList-container{
            grid-template-areas :   "sponsor-viewList sponsor-viewList add-sponsor"
                                    "sponsor-viewList sponsor-viewList ."
                                    "sponsor-viewList sponsor-viewList sponsor-together-form";
        }

        #add-sponsor{
            grid-area: add-sponsor;
        }

        #sponsor-viewList{
            grid-area:sponsor-viewList;


        }
        #sponsor-together-form{
            grid-area:sponsor-together-form;
        }
        #sponsor-together-form form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    height:100%
        }
        #sponsor-list-show{
            width:  100%;
            justify-content: flex-start;

        }
        #about-main-preview{
            grid-template-areas:"about-preview about-form"
                                "about-preview about-form"
                                "about-preview about-form";

        }
        #about-preview{
            grid-area: about-preview;

        }
        #map-show{
            width: 100%;
            justify-content: flex-start;
        }
        #map-form form{
             display:flex;
             flex-direction: column;
        }
        #congress-list-show{
            width: 100%;
            display:flex;
            justify-content: flex-start;
        }
        #sponsor-linked-show{
            width: 100%;
            justify-content: flex-start;

        }
        #sponsor-show{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #sponsor-show-logo{
            width:100%;
            grid-area: logo;
        }
        #sponsor-show-location{
            grid-area: location;
        }
        #sponsor-show-city{
            grid-area: city;
        }
        #sponsor-show-contact{
            grid-area: contact;
        }
        #sponsor-show-address{
            grid-area: address;
        }
        #sponsor-show-phone{
            grid-area: phone;
        }
        #sponsor-show-mail{
            grid-area: mail
        }
        #sponsor-show-website{
            grid-area: website;
        }
        #sponsor-show-update{
            display: flex;
            justify-content: space-around;
            grid-area: update;
        }
        #sponsor-form-card form{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            height:100%;
        }
        #socialLink-main-view-container{
            grid-template-areas: "socialLink-view socialLink-data";
        }

        #socialLink-data {
            grid-area: socialLink-data;
        }

        #socialLink-viewCard {
            display: flex;
            flex-direction: column;
            grid-area: socialLink-view;
        }

        #socialLink-form-show {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-evenly;
            width: 100%;
        }

        #socialLink-view-show img {
            width: 100%;
        }

        #hotel-viewList-container {
            grid-template-areas: "hotel-viewList hotel-viewList hotel-form-card" "hotel-viewList hotel-viewList ." "hotel-viewList hotel-viewList hotel-together-form";
        }

        #hotel-together-form {
            grid-area: hotel-together-form;
        }

        #hotel-form-card  form{
            grid-area: hotel-form-card;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        #hotel-together-form  form{
            width:100%;
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            height:100%;
        }

        #hotel-link-form {
            grid-area: hotel-link-form;
        }

        #hotel-viewList {
            grid-area: hotel-viewList;
        }

        #hotel-view {
            grid-area: hotel-view;
        }

        #hotel-view-container {
            grid-template-areas: "hotel-view hotel-form-card hotel-linked-list" "hotel-link-form . hotel-linked-list";
        }

        #hotel-linked-list {
            grid-area: hotel-linked-list;
        }
        #hotel-show{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        #hotel-linked-show{
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        #speaker-viewList-container {
            grid-template-areas: "speaker-viewList speaker-viewList speaker-form-card "
                                 "speaker-viewList speaker-viewList speaker-together-form";

        }
        #speaker-show-logo{
            width: 100%;
        }

        #speaker-together-form {
            grid-area: speaker-together-form;

        }
        #speaker-together-form form{
            display:flex;
            flex-direction:column;
            width:100%;
            justify-content:space-evenly;
            height:100%;
        }
        #speaker-form-card {
            grid-area: speaker-form-card;
        }
        #speaker-form-card form{
            width:100%;
            display:flex;
            flex-direction:column;
        }
        #speaker-viewList {
            grid-area: speaker-viewList;
        }

        #speaker-linked-list {
            grid-area: speaker-linked-list;
        }
        #speaker-linked-show{
            justify-content:flex-start;
            width:100%;
        }
        #speaker-link-form {
            grid-area: speaker-link-form;
        }

        #speaker-view-container {
            grid-template-areas: "speaker-view speaker-form-card speaker-linked-list" "speaker-view speaker-link-form speaker-linked-list";
        }

        #speaker-view {
            grid-area: speaker-view;
            }
        #speaker-show{
            width: 100%;
            display: flex;
            justify-content : flex-start;
        }
        #speaker-show-logo img{
            width: 100%;
        }
        #add-speaker-form{
            display: flex;
            flex-direction: column;
        }
        #floorPlan-show{
            width:100%;
            display:flex;
            justify-content:flex-start;

        }
        #floorPlan-form form{
            display:flex;
            flex-direction:column;
        }
        #floorPlan-show-logo{
            width:100%;
        }