<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="card" id="dataform" th:fragment="posterFormCard">
	<h3 class="card-title">Poster/Paper</h3>
	<div class="card-content">
		<form enctype="multipart/form-data" th:action="@{${pathMethod}}" th:method="${httpMethod}"
              th:object="${newPoster}">              
              <span th:errors="*{poster}" th:if="${#fields.hasErrors('poster_url')}">Url Error</span>
              <label for="poster_url">Url</label>
              <input id="poster_url"  th:field="*{poster_url}" type="url"/>
              <input type="submit" value="Add poster">
	
	
		</form>
	</div>
</div>
</html>