<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card" id="congress-viewList" th:fragment="posterListCard">
    <h3 class="card-title">Poster</h3>
    <div class="card-content" id="congress-show">
        <ul>
            <li th:each="poster : ${posterList}">
                <ul style="display:flex;">
                    <li th:text="${poster.poster_url}"></li>
                    <li><a th:href="@{'/congress/{id}/poster/{idPoster}(id=${congress.id},idPoster=${)' + }"> Go to
                        congress</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</html>