<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<nav>
    <img id="nav-logo" src="https://distribuna.com/images/Logo/gdlogocolor4.png"></img>
    <ul class="navlist">
        <li class="nav-item"><a href="/">Accueil</a></li>
        <li class="nav-item"><a th:href="@{'/congress'}">Congress</a></li>
        <li class="nav-item"><a th:href="@{'/sponsors'}">Sponsorts</a></li>
        <li class="nav-item"><a th:href="@{'/speakers'}">Speackers</a></li>
        <li class="nav-item"><a th:href="@{'/hotels'}">Hotel</a></li>
        <li class="nav-item"><a th:href="@{'/disconnect'}">Deconnection</a></li>
    </ul>
</nav>
<main id="congress-viewList-container">
    <div class="card" id="congress-viewList">
        <h3 class="card-title">Congress</h3>
        <div class="card-content" id="congress-show">
            <ul>
                <li th:each="congress : ${congressList}">
                    <ul>
                        <li th:text="${congress.name}"></li>
                        <li th:text="${congress.color}"></li>
                        <li th:text="${congress.date}"></li>
                        <li><a th:href="@{'/congress/' + ${congress.id}}">Go to congress</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>

</html>