<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<nav>
		<img id="nav-logo" src=""></img>
		<ul class="navlist">
			<li class="nav-item"><a href="/">Accueil</a></li>
			<li class="nav-item"><a th:href="@{'/congress'}">Congress</a></li>
			<li class="nav-item"><a th:href="@{'/sponsors'}">Sponsorts</a></li>
			<li class="nav-item"><a th:href="@{'/speakers'}">Speackers</a></li>
			<li class="nav-item"><a th:href="@{'/hotels'}">Hotel</a></li>
			<li class="nav-item"><a th:href="@{'/disconnect'}">Deconnection</a></li>
		</ul>
	</nav>
	<main id="main-congress-form">
		<div id="dataform" class="card">
			<h3 class="card-title">Congress</h3>
			<div class="card-content">
				<form enctype="multipart/form-data" th:action="@{${pathMethod}}" th:method="${httpMethod}"
					  th:object="${newCongress}">
					<input type="hidden" name="_method" value="PUT"/>

					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
					<label for="name">Name</label>
					<input id="name" name="name" th:field="*{name}" type="text"/></br>

					<!-- A changer pour inserer une image -->
					<span th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}">Name Error</span>
					<label for="logo">Logo</label>
					<input id="logo" name="logo" th:field="*{logo}" type="file"/></br>

					<span th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Name Error</span>
					<label for="color">Color</label>
					<input color="color" id="color" th:field="*{color}" type="text"/></br>

					<!-- A changer pour inserer une image -->
					<span th:if="${#fields.hasErrors('banner')}" th:errors="*{banner}">Name Error</span>
					<label for="banner">Banners</label>
					<input id="banner" name="banner" th:field="*{banner}" type="file"/></br>

					<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Name Error</span>
					<label for="date">Date</label>
					<input id="date" name="Date" th:field="*{date}" type="date"/></br>

					<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Name Error</span>
					<label for="location">Location</label>
					<input id="location" name="Location" th:field="*{location}" type="text"/></br>

					<span th:if="${#fields.hasErrors('registration')}" th:errors="*{registration}">Name Error</span>
					<label for="registration">Registration</label>
					<input id="registration" name="registration" th:field="*{registration}" type="url"/></br>

					<span th:if="${#fields.hasErrors('poster')}" th:errors="*{poster}">Name Error</span>
					<label for="poster">Poster</label>
					<input id="poster" name="poster" th:field="*{poster}" type="text"/></br>

					<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
					<label for="description">Description</label>
					<input id="description" name="description" th:field="*{description}" type="textarea"/></br>

					<input type="submit" value="Valider">
				</form>

			</div>
		</div>
	</main>
</body>

</html>