<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <nav>
        <img id="nav-logo" src=""></img>
        <ul class="navlist">
            <li class="nav-item"><a href="/">Accueil</a></li>
            <li class="nav-item"><a th:href="@{'/congress'}">Congress</a></li>
            <li class="nav-item"><a th:href="@{'/sponsors'}">Sponsorts</a></li>
            <li class="nav-item"><a th:href="@{'/speakers'}">Speackers</a></li>
            <li class="nav-item"><a th:href="@{'/hotels'}">Hotel</a></li>
            <li class="nav-item"><a th:href="@{'/disconnect'}">Deconnection</a></li>
        </ul>
    </nav>
    <main>
        <div id="actuality" class="card">
            <h3 class="card-title">Actualités</h3>
            <div class="card-content">
                <ul class="actuality-list">
                    <li class="actuality-item">
                        <h4 class="actuality-item-title">LEXPOSIA - Congrès LIDC 2019 </h4>
                        <img class="actuality-item-banner"
                            src="https://www.congres-lidc.com/Data/Sites/2/images/Congres-LIDC-header-2019.jpg" alt="">
                        <div class="actuality-item-content">
                            <div class="actuality-item-info">
                                <div class="actuality-item-date">20/04/1996</div>

                                <div class="actuality-item-place">Le Mans</div>
                            </div>
                            <p class="actuality-item-desc">Cette année, la LIDC vous donne rendez-vous du 7 au 10
                                novembre 2019 dans un hôtel mythique parisien, le Lutetia, situé dans le quartier de
                                Saint-Germain-des-Près au centre de la Capitale.</p>

                            <div class="closedarea">

                                <table class="actuality-item-conf">
                                    <caption>Conferences</caption>
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Date</td>
                                            <td>Hour</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="/" class="card-bt">Modifier</a>

                        </div>
                    </li>
                    <hr>
                    <li class="actuality-item">
                        <h4 class="actuality-item-title">LEXPOSIA - Congrès LIDC 2019 </h4>
                        <img class="actuality-item-banner"
                            src="https://www.congres-lidc.com/Data/Sites/2/images/Congres-LIDC-header-2019.jpg" alt="">
                        <div class="actuality-item-content">
                            <div class="actuality-item-info">
                                <div class="actuality-item-date">20/04/1996</div>
                                <div class="actuality-item-place">Le Mans</div>
                            </div>
                            <p class="actuality-item-desc">Cette année, la LIDC vous donne rendez-vous du 7 au 10
                                novembre 2019 dans un hôtel mythique parisien, le Lutetia, situé dans le quartier de
                                Saint-Germain-des-Près au centre de la Capitale.</p>


                            <div class="closedarea">

                                <table class="actuality-item-conf">
                                    <caption>Conferences</caption>
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Date</td>
                                            <td>Hour</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Test</td>
                                            <td>20/04/1996</td>
                                            <td>15h15</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <a href="/" class="card-bt">Modifier</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="add-congress" class="card">
            <h3 class="card-title">Ajouter un congrés</h3>
            <div class="card-content">
                <form method="get">
                    <label for="congress-name"></label>
                    <input type="text" name="congress-name" id="congress-input">
                    <input type="submit" id="bt-select" formaction="/find" class="card-bta" value="Selectionner">
                    <input type="submit" id="bt-create" formaction="/congress/create" class="card-bt" value="Créer">
                </form>
            </div>
        </div>
        <div id="calendar" class="card">
            <h3 class="card-title">Calendrier</h3>
            <div class="card-content"></div>
        </div>
    </main>
</body>

</html>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>

</html>