<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card" id="add-speaker" th:fragment="addSpeakerCard">
    <h3 class="card-title">Add a Speaker</h3>
    <div class="card-content">
        <form method="get">
            <label for="speaker-name"></label>
            <input id="speaker-name" name="speaker-name" type="text">
            <input class="card-bta" formaction="/find" id="bt-select" type="submit" value="Selectionner">
            <input class="card-bt" formaction="/sponsor/create" id="bt-create" type="submit" value="Créer">
        </form>
    </div>
</div>
</html>