<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pathMethod" type="java.lang.String"*/-->
<!--/*@thymesVar id="httpMethod" type="java.lang.String"*/-->
<!--/*@thymesVar id="currentSponsor" type="com.congress.entity.Sponsor"*/-->
<!--/*@thymesVar id="congressList" type="com.congress.entity.Congress"*/-->

<div class="card" id="speaker-link-form" th:fragment="speakerLinkFormCard">
    <h3 class="card-title">Speakers</h3>
    <div class="card-content">
        <form enctype="multipart/form-data" th:action="@{'/speaker/'+ ${currentSpeaker.id} + '/linktocongress'}"
              th:method="POST">
            <label for="congress-select">Congress to link</label>
            <select id="congress-select" name="congressId">
                <option value="">--Please choose an option--</option>
                <option th:each="congress : ${congressList}" th:text="${congress.name}"
                        th:value="${congress.id}"></option>
            </select>
            <input type="submit" value="Valider">
        </form>
    </div>
</div>
</html>