<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentSponsor" type="com.congress.entity.Sponsor"*/-->
<div class="card" id="speaker-view" th:fragment="speakerViewCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="speaker-show">
        <div th:text="${currentSpeaker.name}"></div>
        <img alt="" id="speaker-show-logo" th:src="@{${currentSpeaker.photo_url}}">
        <div id="speaker-show-update">
            <a href="#" th:onclick="|deleteUrl('/sponsor/${currentSpeaker.id}')|">Supprimer</a>
        </div>
    </div>
</div>
</html>