<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pathMethod" type="java.lang.String"*/-->
<!--/*@thymesVar id="httpMethod" type="java.lang.String"*/-->
<!--/*@thymesVar id="currentSponsor" type="com.congress.entity.Sponsor"*/-->
<!--/*@thymesVar id="congressList" type="com.congress.entity.Congress"*/-->
<!--/*@thymesVar id="currentSponsor" type="java.util.List<com.congress.entity.Sponsor>"*/-->

<div class="card" id="sponsor-linked-list" th:fragment="sponsorLinkedListCard">
    <h3 class="card-title">Linked congress</h3>
    <div class="card-content">
        <ul>
            <li th:each="congress : ${currentSponsor.congress}">
                <span th:text="${congress.name}"></span>
                <a th:href="@{'/sponsor/' + ${currentSponsor.id} + '/unlinktocongress/' + ${congress.id}}">Unlink</a>
            </li>
        </ul>
    </div>
</div>
</html>