<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sponsor" type="com.congress.entity.Sponsor"*/-->
<!--/*@thymesVar id="sponsorList" type="java.util.List<>"*/-->
<div class="card" id="congress-viewList" th:fragment="sponsorListCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="congress-show">
        <ul>
            <li th:each="sponsor : ${sponsorList}">
                <ul style="display:flex;">
                    <li th:text="${sponsor.name}"></li>
                    <li id="congress-show-logo"><img alt="" src="#" th:src="${sponsor.logo_url}"></li>
                    <li th:text="${sponsor.address}"></li>
                    <li th:text="${sponsor.city}"></li>
                    <li th:text="${sponsor.contact}"></li>
                    <li th:text="${sponsor.phone}"></li>
                    <li th:text="${sponsor.mail}"></li>
                    <li th:text="${sponsor.website_url}"></li>
                    <span id="congress-show-location" th:text="${sponsor.location}"></span>
                </ul>
        </ul>

        </li>
        </ul>
    </div>
</div>
</html>