<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sponsor" type="com.congress.entity.Sponsor"*/-->
<!--/*@thymesVar id="sponsorList" type="java.util.List<>"*/-->
<div class="card" id="sponsor-viewList" th:fragment="sponsorListCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="sponsor-show">
        <table class="actuality-item-conf">
            <thead>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    Name
                </td>
                <td>
                    Logo
                </td>
                <td>
                    Adress
                </td>
                <td>
                    City
                </td>
                <td>
                    Contact
                </td>
                <td>
                    Phone
                </td>
                <td>
                    Link
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sponsor: ${sponsorList}">
                <td th:text="${sponsor.id}"></td>
                <td th:text="${sponsor.name}"></td>
                <td th:text="${sponsor.logo_url}"></td>
                <td th:text="${sponsor.address}"></td>
                <td th:text="${sponsor.city}"></td>
                <td th:text="${sponsor.contact}"></td>
                <td th:text="${sponsor.phone}"></td>
                <td><a th:href="@{'/sponsor/' + ${sponsor.id}}">See sponsor</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>