<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="currentSponsor" type="com.congress.entity.Sponsor"*/-->
<div class="card" id="sponsor-view" th:fragment="sponsorViewCard">
    <h3 class="card-title">Sponsors</h3>
    <div class="card-content" id="congress-show">
        <div th:text="${currentSponsor.name}"></div>
        <div id="congress-show-update">
            <a th:href="@{'/sponsor/' + ${currentSponsor.id} + '/edit'}">Modifier</a>
            <a href="#" th:onclick="|deleteUrl('/sponsor/${currentSponsor.id}')|">Supprimer</a>
        </div>
    </div>
</div>
</html>