<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/main/head.html :: head">
</head>
<body>
<nav th:replace="/fragments/components/navbar.html :: navbar"></nav>
    <main id="about-main-preview">
        <div  class="card" id="about-preview" >
            <h3 class="card-title" th:text="${about.title}"></h3>
            <div class="card-content">
                <p th:text="${about.description}"></p>
            </div>
        </div>
        <div th:replace="/fragments/components/about/aboutFormCard.html :: aboutFormCard"></div>

    </main>
</body>
</html>