<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card" id="actuality" th:fragment="actualityCard">
    <h3 class="card-title">Actualités</h3>
    <div class="card-content">
        <ul class="actuality-list">
            <li class="actuality-item">
                <h4 class="actuality-item-title">LEXPOSIA - Congrès LIDC 2019 </h4>
                <img alt=""
                     class="actuality-item-banner"
                     src="https://www.congres-lidc.com/Data/Sites/2/images/Congres-LIDC-header-2019.jpg">
                <div class="actuality-item-content">
                    <div class="actuality-item-info">
                        <div class="actuality-item-date">20/04/1996</div>

                        <div class="actuality-item-place">Le Mans</div>
                    </div>
                    <p class="actuality-item-desc">Cette année, la LIDC vous donne rendez-vous du 7 au 10
                        novembre 2019 dans un hôtel mythique parisien, le Lutetia, situé dans le quartier de
                        Saint-Germain-des-Près au centre de la Capitale.</p>

                    <div class="closedarea">

                        <table class="actuality-item-conf">
                            <caption>Conferences</caption>
                            <thead>
                            <tr>
                                <td>Name</td>
                                <td>Date</td>
                                <td>Hour</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="card-bt" href="/">Modifier</a>

                </div>
            </li>
            <hr>
            <li class="actuality-item">
                <h4 class="actuality-item-title">LEXPOSIA - Congrès LIDC 2019 </h4>
                <img alt=""
                     class="actuality-item-banner"
                     src="https://www.congres-lidc.com/Data/Sites/2/images/Congres-LIDC-header-2019.jpg">
                <div class="actuality-item-content">
                    <div class="actuality-item-info">
                        <div class="actuality-item-date">20/04/1996</div>
                        <div class="actuality-item-place">Le Mans</div>
                    </div>
                    <p class="actuality-item-desc">Cette année, la LIDC vous donne rendez-vous du 7 au 10
                        novembre 2019 dans un hôtel mythique parisien, le Lutetia, situé dans le quartier de
                        Saint-Germain-des-Près au centre de la Capitale.</p>


                    <div class="closedarea">

                        <table class="actuality-item-conf">
                            <caption>Conferences</caption>
                            <thead>
                            <tr>
                                <td>Name</td>
                                <td>Date</td>
                                <td>Hour</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Test</td>
                                <td>20/04/1996</td>
                                <td>15h15</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <a class="card-bt" href="/">Modifier</a>

                </div>
            </li>
        </ul>
    </div>
</div>
</html>