<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card" id="add-congress" th:fragment="addSponsortsCard">
    <h3 class="card-title">Ajouter un Sponsor</h3>
    <div class="card-content">
        <form method="get">
            <label for="sponsorts-name"></label>
            <input id="sponsorts-name" name="sponsorts-name" type="text">
            <input class="card-bta" formaction="/find" id="bt-select" type="submit" value="Selectionner">
            <input class="card-bt" formaction="/sponsorts/create" id="bt-create" type="submit" value="Créer">
        </form>
    </div>
</div>
</html>